extends ../layout.pug

block meta
    title #{post.title}

block content
    img(src=`/${post.image}`, alt="", srcset="")
    h1 #{post.title}
    div #{post.content}

    a(href=`/posts/edit/${post.id}`) Edit this post